.infologment {
    @include flex(row, space-between, flex-start);
    color: $color-secondary;
    margin-bottom: 20px;

    @media screen and (max-width: 650px) {
        @include flex(column, space-between, flex-start);
        gap: 10px;
        margin-bottom: 20px;
    }
}


.Logment_infopanel {
    display: flex;
    justify-content: center;
}

.detail_info {
    width: 48%;
    margin-top: 1.5rem;
}

@media screen and (max-width: 425px) {
    .Logment_infopanel {
        display: block; /* Ensures the element is displayed as a block element */
        width: 100%; /* Sets the width to 100% of the parent container */
        margin-top: 2rem; /* Adds a top margin of 2rem */
    }

    .detail_info {
        width: 100%; /* Sets the width to 100% of the parent container */
    }
}
