

.Logment_infopanel {
    display: flex;
    justify-content: space-between;
}

.detail_info {
    width: 48%;
    margin-top: 1.5rem;
}

@media screen and (max-width: 320px) {
    .Logment_infopanel {
        display: block;
        width: 100%;
        margin-top: 2rem;
    }

    .detail_info {
        width: 100%;
    }
}